.icon-background {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.icon {
  width: 20px;
  height: 20px;
  color: white;
}

.icon-background:hover{
    background-color: rgb(107, 107, 162);
}

.color-border:hover{
    transform: scale(1.1);
}
